<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="http" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://localhost:8088</url>
        <token>%user_httpeventcollector_token%</token>
        <index>%user_index%</index>
        <disableCertificateValidation>true</disableCertificateValidation>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </appender>

    <logger name="splunk.logger" level="INFO">
        <appender-ref ref="http"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="http"/>
    </root>
</configuration>